body{
    margin: 0;

}

.navbar {
    background-color: #eb6a6a;
    position: fixed;
    width: 100%;
    padding: 15px;
    top: 0;

    

}
.container{
    display:flex ;
    margin-top: 55px;
    

}


.leftmenu{
    margin-top: 35px;
    padding: 15px;
    background-color: rgb(160, 242, 175);
    width: 25%;


}


.maincont{
    width:25%;
    padding: 55px;
}



.rightpannel {
    width: 20%;
    background-color: #f4f4f4;
    padding: 55px;
}

.footer{
    background-color: rgb(131, 131, 248);
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 40px;
    text-align: center;
}
.collapsed{
    width: 0;
    overflow: hidden;
}
